.row {
  align-self: center;
  display: flex;
  align-items: flex-start;
  gap: 25px;
  justify-content: center;
  border: 1px none;
  flex-direction: row;
  max-width: 85vw;
  max-height: 35vw;
  position: relative;
}

.row .render {
  width: 100vw;
  border-radius: 5px;
  background-color: #1D1C1C;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

canvas {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.settings {
  max-width: 22.5vw;
  align-items: center;
  background-color: #1D1C1C;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 30px 16px;
  border-radius: 5px;
}

.settings li {
  list-style: none;
  margin: 20px;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.7),
              -6px -6px 10px -1px rgba(255, 255, 255, 0.15);
}

.settings .folder {
  align-items: center;
  align-self: stretch;
  background-color: #474747;
  display: flex;
  flex-direction: column;
}

.settings li .title {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  padding: 5px 12px;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}

.folder .details {align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;

  max-height: 0;
  overflow: hidden;
  padding: 0 10px;
  transition: max-height 0.5s, padding 0.5s;
}

.folder input[type="checkbox"]:checked + .title + .details {
  max-height: 450px;
  padding: 10px 10px 20px;
}


.details .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  padding: 5px 2.5px;

  font-size: 16px;
  font-weight: 500;
}

.interactable {
  display: flex;
  align-items: center;
  width: 10vw;
}

.interactable .text {
  width: 100%;
  appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid rgb(173, 107, 235);
	background: #242424;
	border-radius: .2em .2em 0 0;
	padding: .4em;
}

input[type="color"]::-moz-color-swatch {
  border: none;
  border-radius: 2.5px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 2.5px;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 2.5px;
}

.interactable .color {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 5px;
  padding: 0;
  border: none;
  cursor: pointer;
}

.interactable .vector3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.vector3 .text {
  width: 3vw;
}

.interactable .slider {
  width: 100%;
  -webkit-appearance: none;
  height: 7.5px;
  border-radius: 5px;  
  background: #242424;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.interactable .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17.5px;
  height: 17.5px;
  border-radius: 50%; 
  background: #8e8e8e;
  cursor: pointer;
}

.interactable .slider::-moz-range-thumb {
  width: 17.5px;
  height: 17.5px;
  border-radius: 50%;
  background: #8e8e8e;
  cursor: pointer;
}
