.row {
  align-self: center;
  display: flex;
  align-items: flex-start;
  gap: 25px;
  justify-content: center;
  border: 1px none;
  flex-direction: row;
  max-width: 85vw;
  max-height: 35vw;
  position: relative;
}

.row .render {
  width: 100vw;
  border-radius: 5px;
  background-color: #1D1C1C;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

canvas {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
